





#PracticeNavBar
{
    background-color: rgb(117, 164, 154);
    color: rgb(25, 23, 23);
    box-shadow: 0px 5px 6px rgb(43, 37, 37);
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    border-radius: 20px;
    height: 200px;
    flex-direction: column;
    
  
    
}

#PracticeNavBar ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.5rem;
    margin-top: 50px;
    font-size: 25px;
    /* color: white; */
    
}

a
{
    color: inherit;
    text-decoration: none;
}

